.product-page-container{
    padding: 40px 40px;
    padding-top: 0px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.carousel-container{
    overflow: hidden;
    width: 90%;
    margin: 5px;
    min-width: 280px;
}

.product-container{
    margin: 20px;
    width: 70%;
    font-family: Montserrat;
    font-weight: 600;
}

.product-description{
    width: 100%;
    margin: 20px auto;
    font-size: 14px;
}
.empty-container{
    height: 0px;
    width: 100%;
}
.products-card-container{
    width: 100%;
    margin-top: 20px;
}
.review-card-container{
    margin: 0 auto;
    max-width: 80%;
    overflow-x: auto;
    white-space: nowrap;
}


@media screen and (min-width: 768px) {
    .empty-container{
        height: 70px;
    }
    .product-description{
        font-size: 22px;
        margin: 20px 140px;
    }
}

@media screen and (min-width: 928px) {
    .carousel-container{
        width: 50%;
        margin: 20px;
        min-width: 450px;
        
    }
    .product-container{
        width: 40%;       
    }
}