.product-card-container{
    cursor: pointer;
    width: 100%;
    max-width: 280px;
    margin: 5px;
    color: black;
}
.product-image-container{
    height: 260px;
    overflow: hidden;
}
.product-image{
    width: 100%;
}
.product-card-text{
    justify-content: space-around;
    text-align: left;
    background-color: white;
    color: black;
    width: 100%;
    padding: 10px 0;
}
.product-card-text > div{
    margin: 5px 20px;
}
.product-card-btn{
    background-color: black;
    color: white;
    padding: 5px 10px;
    height: fit-content;
    font-weight: 600;
}
.card-text{
    font-weight: 400;
}

.product-card-btn:hover{
    background-color: #f7f7f7;
    color: black;
}