.review-card{
    margin: 5px 10px;
    border : 1px solid lightgray;
    width: 250px;
    padding: 10px 20px;
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.review{
    font-style: italic;
    color :black;
    text-align: left;
    width: 250px;
    height: 100px;
    
    overflow: auto;
    max-height: 124px;
    word-wrap: break-word;
    white-space: normal;
    
    text-overflow: ellipsis;
}
.review-by{
    color: rgb(0,0,0,0.6);
    font-weight: 500;
    text-align: left;
}

.review-card-container::-webkit-scrollbar {
    height: 10px;                       
  }
.review-card-container::-webkit-scrollbar-thumb:horizontal{
      background-color: black;
  }


.review::-webkit-scrollbar {
    display: none;
  }