.flex{
    display: flex;
}
.navbar{
    position: relative;
   width: 100%;
   align-items: center;
   border-bottom: 1px solid lightgrey;
   margin-bottom: 20px;
 }

 .logo-container > img{
     height: 100px;
 }
 .logo-container{
     margin: 0 auto;
 }
 .left-nav, .right-nav{
     display: none;
     justify-content: center;
 }
 .menu-container, .search-container{
     position: absolute;
 }
 .menu-container{
    left: 20px;
 }
 .search-container{
     right: 20px;
 }
 .menu-icon, .search-icon{
     font-size: 20px;
     color: #f25c8a;
     cursor: pointer;
 }