.detail-container > *{
    flex-direction: column;
    font-family: "Montserrat Alternates";
}
.title{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: .1em;
}
.sizes{
    margin-top: 20px;
}
.sizes > div{
    margin-bottom: 10px;
}
.box{
    cursor: pointer;
    border: 1px solid black;
    width: 36px;
    height: 36px;
    margin: 0 2px;
}
.color-box{
    cursor: pointer;
    border: 1px solid black;
    width: 66px;
    height: 36px;
    margin: 0 2px;

}
.box-container{
    margin-top: 10px;
}
.box-title{
    font-weight: 600;
}

.price{
    margin-top: 10px;
    font-weight: 400;
    font-size: 30px;
}
.add-btn{
    cursor: pointer;
    margin: 50px auto;
    background-color: black;
    color: white;
    width: fit-content;
    padding: 7px 35px;
}

.box:hover , .color-box:hover{
    color: white;
    background-color: black;
}
.add-btn:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}