.carousel-container-2{
    height: fit-content;
}
.carousel-container-2 > .carousel{
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width:768px) {
    .carousel-container-2 > .carousel{
        width: 70%;
        margin: 0 auto;
    }
}