.navlink-container{
    color: black;
    display: flex;
    flex-direction: column;
}
.border{
    background-color: black;
    padding-top: 6px;
    visibility: hidden;
    width: 0%;
    margin-bottom: 5px;
    transition: ease .6s width;
}
.navlink-container:hover > .border{
    visibility: visible;
    padding-top: 6px;
    width: 90%;
}